/* PARAMETROS GENERALES */

:root {
    /* --ColorFondo: #f7f9fb; */
    --ColorFondo: white;
    --ColorSecundario: #000000;
    --ColorTerciario: red;
    --ColorGris: rgb(99, 99, 99);
    --FontPrincipal: 'Montserrat', sans-serif;
    --FontSize: 3.3rem;
    --FontWeight: 800;
}

html {
    font-size: 50%;
    box-sizing: border-box;
    font-family: var(--FontPrincipal);
}

body {
    font-size: 2.6rem;
    font-family: var(--FontPrincipal);
}

/* CONTENEDOR GENERAL */

.contenedor {
    /* width: 85%;
    margin: auto; */
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    /* Ajusta este valor según el ancho deseado del contenedor */
    padding: 2rem;
    /* Ajusta este valor según el espacio de margen interno deseado */
}

.registro-form h2 {
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}

.registro-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid var(--ColorTerciario);
    border-radius: 15px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.registro-form label {
    margin-bottom: 10px;
}

.registro-form input {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid var(--ColorTerciario);
    border-radius: 15px;
}

.registro-form button {
    padding: 10px 20px;
    background-color: var(--ColorFondo);
    color: var(--ColorTerciario);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid var(--ColorTerciario);
    font-size: 20px;
}

.registro-form button:hover {
    padding: 10px 20px;
    background-color: var(--ColorTerciario);
    color: var(--ColorFondo);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

